--extra-index-url https://download.pytorch.org/whl/cpu
absl-py
aiohttp
aiosignal
appdirs
async-timeout
attrs
audioread
bitsandbytes
cachetools
certifi
cffi
charset-normalizer
click
datasets
decorator
dill
evaluate
filelock
frozenlist
fsspec
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
importlib-metadata
jiwer
joblib
lazy_loader
librosa
llvmlite
Markdown
MarkupSafe
msgpack
multidict
multiprocess
numba
numpy
oauthlib
packaging
pandas
Pillow
pooch
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
python-dateutil
pytz
PyYAML
rapidfuzz
regex
requests
requests-oauthlib
responses
rsa
scikit-learn
scipy
six
soundfile
soxr
safetensors>=0.4.1
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
threadpoolctl
tokenizers
torch>=2.1.0
torchaudio>=2.1.0
torchvision>=0.16.0
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
xxhash
yarl
zipp
audiomentations
propcache
aiohappyeyeballs
sympy
mpmath
accelerate
